.ui.borderless.topnav.menu {
  background-color: #F5F5F5;
  box-shadow: none;
  border: none;
}

.ui.borderless.middlenav.menu {
  background-color: #FFFFFF;
  box-shadow: none;
  border: none;
}

.background.color.black {
  background-color: #292929;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #FFFFFF;
}